@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('/fonts/luckiestguy/LuckiestGuy.ttf');


h1, h2, h3, h4, h5, h6, reservoir-h1, reservoir-h2, reservoir-h3, reservoir-h4, reservoir-h5, reservoir-h6 font-thin, .vc-button {
  font-family: "LuckiestGuy";
  font-weight: 100 !important;
}

model-viewer {
  width: 100%;
  min-height: 500px;
}

.navHeader {
  background-color: #3F07B4;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.checkoutbutton {
  font-family: "LuckiestGuy";
  font-weight: 100;
  font-size: 24px;
}

.collectionsdropdown {
  font-family: "LuckiestGuy";
  font-weight: 100;
}

.addtocart {
  font-weight: 900;
  font-size: 12px;
}

.buybutton{
  font-family: "LuckiestGuy";
  font-weight: 100;
  font-size: 16px;
}

.sweepbutton {
  font-family: "LuckiestGuy";
  font-weight: 100;
  font-size: 24px;
  padding-top:10px;
}

.connectwallet {
  font-family: "LuckiestGuy";
  font-weight: 100;
  font-size: 20px;
}

.btn-primary-fill {
  color: #3F07B4;
}

.btn-primary-fill:hover {
  background-color: #fcca00 !important;
}


.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.markdown-support h1, .markdown-support h2, .markdown-support h3, .markdown-support h4, .markdown-support h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.trending {
  display:none;
}

.markdown-support p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support hr {
  margin-top: 0;
  margin-bottom: 30px;
}

.markdown-support strong {
  font-weight: 501;
}

.markdown-support a {
  text-decoration: underline;
}

.vc-button {
  margin: auto;
  padding: 1rem;
  border-radius: 2%;
}

@media screen and (max-width: 1400px) {
  .tagline {
    font-size: 64px !important;
  }
}

@media screen and (max-width: 1036px) {
  .tagline {
    font-size: 48px !important;
  }
  .vc-button {
    font-size: 18px;
    padding:.5rem;
  }

}

@media screen and (max-width: 641px) {
  .tagline {
    font-size: 32px !important;
  }
}
